extends layout

block content
    #wrapper
        #logo
            img(src='/images/pi.jpg' width=50 height=50)
            img(src='/images/nodejs.png' width=100 height=50)
            h1=title
        br
        br

        #display
            p Welcome to #{title}
            p Math Operation is #{operation}
            p values are: #{value1} and #{value2}
            p final result is: #{result}
